.pagination-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 20px;
}

.pagination-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border-color: var(--default-component-background-color);
  border-style: solid;
  border-width: 2px;
  font-size: 20px;
  color: #000;
}

.pagination-current {
  font-weight: 600;
  border-width: 4px;
}

.pagination-element:first-child {
  margin-left: 0;
}
