.header {
  min-height: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
  align-items: stretch;
  justify-items: stretch;
  padding: 1rem;
  color: #fff;
}

.header .header__main{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-content: space-between;
  align-items: center;
  justify-items: stretch;
}
.header .header__main .header__main-title{
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.header .header__main .header__main-text{
  text-align: justify;
  font-size: 20px;
}

.header .header__additional{
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr;
  font-size: 20px;
}

.header .header__additional .header__additional-email{
  align-self: center;
}

.header .header__additional .header__additional-email a{
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  font-style: normal;
}

.header .header__additional .phone{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.header .header__additional .phone .phone__items{
  margin: 0;
}

.header .header__additional .phone .phone__items .phone__items-link{
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .header .header__main .header__main-text{
    display: none;
  }
}


@media only screen and (max-width: 768px){
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
  }
  .header .header__main{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: space-between;
    align-items: center;
  }
  .header .header__main .header__main-title{
    justify-self: center;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
  }

  .header .header__additional{
    position: absolute;
    bottom: 10%;
    right: 5%;
    }

  .header .header__additional .header__additional-email{
    display: none;
  }
}

