<div class="login-root">
  <form [formGroup]="loginForm">
    <label class="label new-line-padding" for="login-input">Login:</label>
    <input id="login-input" type="text" class="input max-width" name="login" formControlName="login">
    <div class="error-message" *ngIf="loginForm.controls['login'].invalid">Required</div>

    <label class="label new-line-padding" for="password-input">Password:</label>
    <input id="password-input" type="password" class="input max-width" name="password" formControlName="password">
    <div class="error-message" *ngIf="loginForm.controls['password'].invalid">Required</div>

    <div class="remember-container new-line-padding">
      <div class="remember-container-left">
        <label for="remember" class="label">Запам'ятати:</label>
        <input id="remember" type="checkbox" class="input" name="remember" formControlName="remember">
      </div>
      <div class="remember-container-right">
        <a class="remember-container-link" routerLink="passwordrecovery">Забули пароль?</a>
      </div>
    </div>

    <div class="new-line-padding">
      <button type="button" class="button submit-button" (click)="submitLogin()" [disabled]="loginForm.invalid">Увійти</button>
    </div>
  </form>
</div>
