.login-root {
  margin: 50px auto;
  display: grid;
  width: 100%;
  max-width: 400px;
  grid-gap: 3px;
}

.new-line-padding {
  padding-top: 10px;
}

.max-width {
  width: 100%;
}

.remember-container{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 15px;
}

.remember-container-left{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  grid-column-gap: 15px;
}

.remember-container-right{
  align-self: center;
  justify-self: center;
}

.remember-container-link {
  font-size: 20px;
}

.submit-button {
  min-width: 50%;
}
