<article class="wrapper">
  <section class="main">
    <div class="container">
      <h1 class="main__header">Благодійна Організація "БФ ДоброКіт"</h1>
      <p class="main__text">
        Якщо ви знайшли бездомного котика, зателефонуйте нам будь ласка та повідомте про нього за телефонами :
      </p>
      <ul class="phone">
        <li class="phone__items" *ngFor="let phone of phones;">
          <a class="phone__items-link" href="tel:+38{{phone}}">{{ phone }}</a>
        </li>
      </ul>
      <a routerLink="animals" class="main__link button">Нашi котики!</a>
    </div>
  </section>
  <ul class="social">
    <li class="social__items">
      <a href="" class="social__items-link">
        <svg width="40" height="40">
          <use xlink:href="../../../../assets/images/spriteIcon.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social__items">
      <a href="" class="social__items-link">
        <svg width="40" height="40">
          <use xlink:href="../../../../assets/images/spriteIcon.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li class="social__items">
      <a href="" class="social__items-link">
        <svg width="40" height="40">
          <use xlink:href="../../../../assets/images/spriteIcon.svg#twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</article>
