<div class="admin-details">

  <form [formGroup]="form">
    <div *ngIf="form.value.id">
      <h4 class="caption">Перегляд (Редагування) тварини:</h4>
      <label class="label" for="id">id:</label>
      <input class="input"
             id="id"
             formControlName="id"
             readonly="readonly"/>
    </div>

    <div *ngIf="!form.value.id">
      <h4 class="caption">Створення нової тварини:</h4>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="name">Ім'я:</label>
      <input class="input"
             id="name"
             formControlName="name"
             [readonly]="formReadonlyFieldCheck()"
             type="text"/>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="age">Вік:</label>
      <input class="input"
             id="age"
             formControlName="age"
             [readonly]="formReadonlyFieldCheck()"
             type="number"/>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="breed">Порода:</label>
      <input class="input"
             id="breed"
             formControlName="breed"
             [readonly]="formReadonlyFieldCheck()"
             type="text"/>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="sex">Стать:</label>
      <input class="input"
             id="sex"
             formControlName="sex"
             [readonly]="formReadonlyFieldCheck()"
             type="text"/>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="color">Колір:</label>
      <input class="input"
             id="color"
             formControlName="color"
             [readonly]="formReadonlyFieldCheck()"
             type="text"/>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="features">Особливості:</label>
      <textarea class="input input--multiline"
                id="features"
                formControlName="features"
                [readonly]="formReadonlyFieldCheck()"
                type="text"></textarea>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="responsiblePerson">Відповідальна персона:</label>
      <textarea class="input input--multiline"
                id="responsiblePerson"
                formControlName="responsiblePerson"
                [readonly]="formReadonlyFieldCheck()"
                type="text"></textarea>
    </div>

    <div class="admin-details-form-field-container">
      <label class="label" for="imgUrl">Зображення:</label>
      <img src="{{imagePreview || image}}" width="100%" alt="Image preview...">
      <input class="input"
             id="imgUrl"
             type="file"
             (change)="addPhoto($event)"
             accept="image/png,image/jpeg"
             [readonly]="formReadonlyFieldCheck()"/>
    </div>

    <p class="label admin-details-form-field-container">Параметри тварини:</p>

    <section class="key-value-table-style">
      <label class="label" for="complexVaccination">Вакцинація комплексна:</label>
      <input class="input"
             id="complexVaccination"
             formControlName="complexVaccination"
             type="checkbox"
             [readonly]="formReadonlyFieldCheck()"/>

      <label class="label" for="rabiesVaccination">Вакцинація від сказу:</label>
      <input class="input"
             id="rabiesVaccination"
             formControlName="rabiesVaccination"
             type="checkbox"
             [readonly]="formReadonlyFieldCheck()"/>

      <label class="label" for="sterilization">Тварина стерилізована:</label>
      <input class="input"
             id="sterilization"
             formControlName="sterilization"
             type="checkbox"
             [readonly]="formReadonlyFieldCheck()"/>

      <label class="label" for="animalHasFamily">Тварина влаштована:</label>
      <input class="input"
             id="animalHasFamily"
             formControlName="animalHasFamily"
             type="checkbox"
             [readonly]="formReadonlyFieldCheck()"/>

      <label class="label" for="showInGallery">Відображати в галереї:</label>
      <input class="input"
             id="showInGallery"
             formControlName="showInGallery"
             type="checkbox"
             [readonly]="formReadonlyFieldCheck()"/>
    </section>

    <button class="button admin-details-form-field-submit-button"
            type="button"
            *ngIf="form.value.id && editPermission"
            (click)="submitEditAnimal()"
            [disabled]="form.invalid">Підтвердити зміни
    </button>
    <button class="button admin-details-form-field-submit-button"
            type="button"
            *ngIf="!form.value.id && addPermission"
            (click)="submitAddAnimal()"
            [disabled]="form.invalid">Додати тварину
    </button>
  </form>

  <div class="admin-details-form-field-container" *ngIf="dateLastEdit">
    <label class="label" for="dateLastEdit">Дата останнього редагування:</label>
    <input class="input" id="dateLastEdit" value="{{dateLastEdit}}"
           readonly="readonly"/>
  </div>

  <div class="admin-details-form-field-container" *ngIf="dateLastEdit">
    <label class="label" for="dateAdded">Тварина додавання тварини:</label>
    <input class="input" id="dateAdded" value="{{dateAdded}}"
           readonly="readonly"/>
  </div>

  <div class="admin-details-form-field-container" *ngIf="dateLastEdit">
    <label class="label" for="editedBy">Останні зміни внесені користувачем:</label>
    <input class="input" id="editedBy" value="{{editedBy}}" readonly="readonly"/>
  </div>
</div>


