<div class="animal-card-container" *ngIf="animalInfo">
  <img src="{{animalInfo.imgUrl}}" alt="PHOTO" class="animal-card-image">
  <div class="animal-card-main-field">Код тварини: {{animalInfo.id}}</div>
  <div class="animal-card-main-field">Ім'я: {{animalInfo.name}}</div>
  <div class="animal-card-main-field">Порода: {{animalInfo.breed}}</div>
  <div class="animal-card-main-field">Стать: {{animalInfo.state}}</div>
  <div class="animal-card-main-field">Масть: {{animalInfo.color}}</div>
  <div class="animal-card-secondary-field">Особливості: {{animalInfo.features}}</div>
</div>
