.animal-list-container {
  margin-top: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  grid-gap: 5px;
}

@media screen and (min-width: 600px) {
  .animal-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .animal-list-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
