<div class="login-root">
  <form action="" method="post" [formGroup]="resetPasswordForm" #form>
    <label class="label new-line-padding" for="password-input">Пароль:</label>
    <input id="password-input" type="password" class="input max-width" name="password" formControlName="password">
    <div class="error-message" *ngIf="resetPasswordForm.controls['password'].invalid">Required</div>

    <label class="label new-line-padding" for="repeat-password-input">Пiдтвердiть пароль:</label>
    <input id="repeat-password-input" type="password" class="input max-width" name="repeat-password" formControlName="repeatPassword">
    <div class="error-message" *ngIf="resetPasswordForm.controls['repeatPassword'].invalid">Required</div>

    <div class="new-line-padding">
      <button type="submit" class="button submit-button" [disabled]="resetPasswordForm.invalid">Змінити пароль</button>
    </div>
  </form>
</div>
