<header class="header background-color-default ">
  <section class="header__main">
    <h1 class="header__main-title">Благодійна Організація "БФ ДоброКіт"</h1>
    <p class="header__main-text">Якщо ви знайшли бездомного котика,
      зателефонуйте нам будь ласка та повідомте про нього</p>
    <ng-content></ng-content>
  </section>
  <section class="header__additional">
    <address class="header__additional-email">
      <a href="mailto:organization_email@gmail.com">organization_email@gmail.com</a>
    </address>
    <ul class="phone">
      <li class="phone__items" *ngFor="let phone of phones;">
        <a class="phone__items-link" href="tel:+38{{phone}}">{{ phone }}</a>
      </li>
    </ul>
  </section>

</header>
