<div class="login-root">
  <form action="" method="post" #form>
    <label class="label new-line-padding" for="email">Email:</label>
    <input id="email" type="text" class="input max-width" name="email" [formControl]="emailControl">
    <div class="error-message" *ngIf="emailControl.invalid">Required</div>

    <div class="new-line-padding">
      <button type="submit" class="button submit-button" [disabled]="emailControl.invalid">Отримати новий пароль</button>
    </div>

    <p class="messages" *ngIf="responseFromServer; else defaultMessage">
      <ng-container *ngIf="successMessage; else errorMessage">
        <p class="message-succes">На ваш E-mail вiдправленно лист з подальшими інструкціями для вiдновлення паролю</p>
      </ng-container>
      <ng-template #errorMessage>
        <p class="message-error">E-mail який ви ввели не знайденно в базi данных</p>
      </ng-template>
    </p>
    <ng-template #defaultMessage>
      <p class="messages">Введiть ваш  E-mail i натиснiть "Отримати новий пароль"</p>
    </ng-template>



  </form>
