.admin-details {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 600px;
}

.admin-details-form-field-container {
  padding-top: 10px;
  display: grid;
}

.caption{
  font-size: var(--default-component-font-size);
  font-weight: 600;
  text-align: center;
}

.colored-font{
  color: rgb(var(--default-component-background-color));
}

.font-weight--default{
  font-weight: 400;
}
