<div class="admin-details">
  <h4 class="caption">Перегляд користувача:</h4>

  <div class="admin-details-form-field-container">
    <label class="label" for="id">id:</label>
    <input class="input admin-details-form-field-input"
           id="id"
           value="{{userDetails.id}}"
           readonly="readonly"/>
  </div>

  <div class="admin-details-form-field-container">
    <label class="label" for="login">Логін:</label>
    <input class="input admin-details-form-field-input"
           id="login"
           value="{{userDetails.login}}"
           readonly="readonly"
           type="text"/>
  </div>

  <div class="admin-details-form-field-container">
    <label class="label" for="name">Ім'я та прізвище:</label>
    <input class="input admin-details-form-field-input"
           id="name"
           value="{{userDetails.name}}"
           readonly="readonly"
           type="text"/>
  </div>

  <div class="admin-details-form-field-container">
    <label class="label" for="email">Email:</label>
    <input class="input admin-details-form-field-input"
           id="email"
           value="{{userDetails.email}}"
           readonly="readonly"
           type="text"/>
  </div>

  <div class="admin-details-form-field-container">
    <label class="label">Телефони:</label>
    <label for="phone1"></label>
    <input class="input admin-details-form-field-input"
           id="phone1"
           value="{{userDetails.phone1}}"
           readonly="readonly"
           type="text"/>
    <label for="phone2"></label>
    <input class="input admin-details-form-field-input"
           id="phone2"
           value="{{userDetails.phone2}}"
           readonly="readonly"
           type="text"/>
  </div>

  <p class="label admin-details-form-field-container">Керування правами доступа:</p>

  <section class="key-value-table-style">
    <label class="label font-weight--default">Діючий (активний) користувач:</label>
    <label class="label colored-font">{{userDetails.isActive ? '&#10004;' : '&#10008;'}}</label>

    <label class="label font-weight--default">Отримання та закриття заяв про знайдених тварин:</label>
    <label
      class="label colored-font">{{userDetails.permissionForCreateAndCloseAnimalRequests ? '&#10004;' : '&#10008;'}}</label>

    <label class="label font-weight--default">Редагування тварин:</label>
    <label
      class="label colored-font">{{userDetails.permissionForAddEditAndRemoveAnimals ? '&#10004;' : '&#10008;'}}</label>

    <label class="label font-weight--default">Створення/видалення/редагування користувачів:</label>
    <label
      class="label colored-font">{{userDetails.permissionForAddEditAndRemoveUsers ? '&#10004;' : '&#10008;'}}</label>
  </section>

  <div class="admin-details-form-field-container">
    <label class="label" for="dateLastEdit">Дата останнього редагування:</label>
    <input class="input"
           id="dateLastEdit"
           value="{{userDetails.updatedAt}}"
           readonly="readonly"/>
  </div>

  <div class="admin-details-form-field-container">
    <label class="label" for="dateAdded">Дата створення:</label>
    <input class="input admin-details-form-field-input"
           id="dateAdded"
           value="{{userDetails.createdAt}}"
           readonly="readonly"/>
  </div>

  <div class="admin-details-form-field-container">
    <label class="label" for="editedBy">Зміни внесені користувачем: </label>
    <input class="input admin-details-form-field-input"
           id="editedBy"
           value="{{userDetails.editedBy}}"
           readonly="readonly"/>
  </div>
</div>
