.root {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.aside {
  padding: 5px;
  min-width: 250px;
  background-color: rgb(var(--default-component-background-color));
}

.main-page-aside-image {
  display: block;
  width: 100%;
  padding-bottom: 5px;
}

.main {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

/* .header {
  min-height: 150px;
} */

.router-container {
  width: 100%;
  padding: 100px 5px 5px 5px;
}
