<div class="root" (window:resize)="updateMode()">
  <aside class="aside background-color-default" *ngIf="asideNeedShow">
    <img class="main-page-aside-image" src="assets/images/main-page-image.jpg" alt="funny cat">
    <!--  <NavigationComponent></NavigationComponent>-->
  </aside>

  <div class="main">
    <header class="header background-color-default">
      HeaderComponent WILL HERE (REMOVE AFTER COMPONENT CREATE)
      <button type="button" style="background-color: aqua; width: 80px; height: 80px; display: block" *ngIf="!asideNeedShow">Nav menu from aside</button>
      <!--    <HeaderComponent showMenuButton="!asideNeedShow"></HeaderComponent>-->
    </header>

    <div class="router-container">
      ROUTER (REMOVE AFTER COMPONENT WILL NOT EMPTY)
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


