.root {
  margin: 0 auto;
  max-width: 1300px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.aside {
  width: 300px;
  padding: 5px;
}

.main-page-image-container {
  width: 100%;
  background-image: url("src/assets/images/main-page-image.jpg");
  min-height: 100px;
}

.main-page-image {
  display: block;
  width: 100%;
}

.main {
  width: 100%;
}

.header {
  min-height: 150px;
  width: 100%;
}

.router-container {
  width: 100%;
}
