.root {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.aside {
  padding: 5px;
  min-width: 250px;
}

.main-page-aside-image {
  display: block;
}

.main {
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
}

/* .header {
  min-height: 150px;
} */

.router-container {
  width: 100%;
  padding: 5px;
}
