.full-screen-loader-container {
  padding-top: 40vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, .55);
}

.loader-container {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

.loader {
  position: absolute;
  border: 16px solid var(--default-component-font-color);
  border-radius: 50%;
  border-top: 16px solid rgb(var(--default-component-background-color));
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

