.header-describe {
  background-color: var(--default-component-background-color);
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  color: #FFFFFF;
}

.header-left-container{
  display: flex;
  justify-content: center;
}

.header-info-container {
  padding: 10px 20px;
}

.header-caption {
  display: grid;
  row-gap: 10px;
  font-size: 3em;
}

.header-message {
  padding-top: 20px;
  font-size: var(--default-component-font-size);
}

.header-main-image {
  min-width: 250px;
  height: 100%;
}

.header-contact-container {
  padding: 40px 20px 20px;
  font-size: var(--default-component-font-size);
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 15px;
  min-width: 100px;
}

.nav-menu-mobile-button {
  padding: 5px;
  display: none;
  background-color: var(--default-component-font-color);
  justify-content: center;
  align-content: center;
  font-size: 1em;
  color: var(--default-component-background-color);
  border-radius: 15px;
}

.email-container {
  display: grid;
  justify-content: right;
  grid-row-gap: 5px;
}

.phones-container {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-row-gap: 5px;
}

.contact-element {
  color: #FFFFFF;
}

.header-navigation {
  display: block;
}

@media screen and (max-width: 1000px) {
  .header-main-image {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .header-describe {
    grid-auto-columns: minmax(0, 100%);

  }

  .header-contact-container {
    justify-content: right;
    padding: 15px;
  }

  .header-caption {
    row-gap: 5px;
    font-size: 2em;
    justify-content: center;
    text-align: center;
  }

  .header-message {
    text-align: center;
  }

  .nav-menu-mobile-button {
    display: block;
  }

  .email-container {
    display: none;
  }

  .header-desktop-navigation {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header-contact-container {
    justify-content: space-around;
    grid-auto-flow: column;
    margin: 5px;
  }

  .header-caption {
    justify-content: center;
    text-align: center;
  }

  .header-info-container {
    padding: 10px 5px;
  }

  .header-describe {
    grid-auto-flow: row;
    justify-content: center;
  }
}
