<div class="admin-user-list-container">
  <div class="admin-animal-list-header">
    <button type="button" class="button" routerLink="{{getRedirectToUserAddLink()}}">Додати користувача</button>
  </div>

  <table class="table">
    <tr>
      <th>id</th>
      <th>Ім'я та прізвище</th>
      <th>email</th>
      <th>тел1</th>
      <th>тел2</th>
      <th>діючий</th>
      <th>дата зміни</th>
      <th></th>
    </tr>

    <tr *ngFor="let user of userList">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone1}}</td>
      <td>{{user.phone2}}</td>
      <td>{{user.isActive ? '&#10004;' : '&#10008;'}}</td>
      <td>{{user.lastEditDate}}</td>
      <td>
        <a class="admin-animal-list-redirect-edit-animal" routerLink="{{getRedirectToUserDetailsLink(user.id + '/details')}}">&#9997;</a>
      </td>
    </tr>
  </table>

  <app-pagination [pagination]="pagination"></app-pagination>
</div>
