<div class="app-nav-menu-container" [class.app-nav-menu-container-flow-row]="menuFlowRow">
  <a class="button"
     *ngFor="let item of publicMenuItems" [routerLink]="item.url">
    <img class="app-nav-menu-text-image" src="/assets/images/pawprintCat.svg" alt="">
    <p class="app-nav-menu-text-container--center">{{item.text}}</p>
  </a>
</div>

<div class="app-nav-menu-container" [class.app-nav-menu-container-flow-row]="menuFlowRow">
  <a class="button"
     *ngFor="let item of adminMenuItems" [routerLink]="item.url">
    <p class="app-nav-menu-text-container--center">{{item.text}}</p>
  </a>
</div>
