.app-nav-menu-container{
  display: grid;
  grid-auto-flow: column;
  align-items: stretch;
  justify-content: stretch;
}

.app-nav-menu-container-flow-row {
  grid-auto-flow: row;
}

.app-nav-menu-text-container--center {
  text-align: center;
}

.app-nav-menu-text-image {
  padding-right: 10px;
}
