.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgb(var(--default-component-background-color));
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

.header__logo {
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  z-index: 5;
  width: 40px;
  height: 40px;
}

.header__menu {
}
.menu__icon {
  display: none;
}


@media screen and (max-width: 767px) {

  .menu__icon {
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
  }

  .menu__icon span,
  .menu__icon:before,
  .menu__icon:after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      background-color: #fff;
      transition: all .3s ease 0s;
  }

  .menu__icon:before,
  .menu__icon:after {
      content: "";
  }

  .menu__icon:before{
      top: 0;
  }

  .menu__icon:after {
      bottom: 0;
  }

  .menu__icon span{
      top: 50%;
      transform: translate(0px, -50%) scale(1);
  }

  .menu__icon._active span{
      transform: translate(0px, -50%) scale(0);
  }

  .menu__icon._active::before{
      top: 50%;
      transform: translate(0px, -50%) rotate(-45deg);
  }

  .menu__icon._active::after{
      bottom: 50%;
      transform: translate(0px, 50%) rotate(45deg);
  }
}
