/*  GLOBAL VARS  */
:root {
  /*--default-component-background-color: #FF8C00;*/
  --default-component-background-color: 255, 140, 0; /*Use RGB style because can use in RGBA color*/
  --default-component-font-size: 20px;
  --default-component-font-color: #FFF;
}

/*  COMPONENTS  */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  background-color: rgb(var(--default-component-background-color));
  font-size: var(--default-component-font-size);
  color: var(--default-component-font-color);
  margin: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.button:disabled {
  background-color: grey;
}

.button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.input {
  padding: 5px 15px;
  font-size: var(--default-component-font-size);
  border: 1px solid rgb(var(--default-component-background-color));
  margin: 3px;
}

.input:read-only {
  border: none;
}

.input:focus {
  font-weight: bold;
}

.label {
  display: grid;
  align-content: center;
  font-size: var(--default-component-font-size);
  font-weight: 600;
}

.input[type='checkbox'] {
  transform: scale(2);
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-size: var(--default-component-font-size);
}

.table td, .table th {
  padding: 5px;
  border: 1px solid rgb(var(--default-component-background-color));
}

.table th {
  text-align: center;
}


/*  ADDITIONAL STYLES */
.key-value-table-style {
  max-width: fit-content;
  margin: 10px 0;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: space-between;
  border: var(--default-component-background-color) solid 1px;
}
