:root {
  --main-site-color: #FF8C00;
  --default-component-background-color: #FF8C00;
  --default-component-font-size: 20px;
  --default-component-font-color: #FFF;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  background-color: var(--default-component-background-color);
  font-size: var(--default-component-font-size);
  color: var(--default-component-font-color);
  margin: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  border-radius: 5px;
}

.button:hover {
  box-shadow: 0 0 5px rgba(0,0,0,1);
}

input{
  padding: 5px 15px;
  font-size: var(--default-component-font-size);
  border: 1px solid var(--default-component-background-color);
  margin: 3px;
}

input:focus {
  font-weight: bold;
}

label {
  font-size: var(--default-component-font-size);
}

input[type='checkbox'] {
  transform: scale(2);
}



