/* You can add global styles to this file, and also import other style files */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-color-default {
  background-color: #FF6732;
}

.background-color-dark {
  background-color: #c45224;
}
