.menu {
  position: relative;
  margin-top: 8px;
}

.menu .menu__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 50px);
  grid-row-gap: 4px;
  justify-items: stretch;
  align-items: stretch;
}


.menu .menu__list .menu__list-items {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-content: stretch;
  justify-content: stretch;
  border: 1px solid #FFF;
}


.menu .menu__list .menu__list-items .menu__list-links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFF;
  font-size: 20px;
}


@media screen and (max-width: 900px) {
  .menu {
    display: inline-block;
    margin: 0;
    width: 90px;
    height: 80px;
    border: 1px solid #FFF;
    position: relative;
  }

  .menu::before{
    content: 'Меню';
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 66%;
    transform: translate(-50%,-50%);
  }

  .menu::after{
    content: url("../../../../assets/images/pawprintCat.svg");
    position: absolute;
    top: 28%;
    left: 3%;
  }

  .menu .menu__list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    padding: 10px 10px 20px 10px ;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .menu .menu__list.active {
    top: 150px;
  }

  .menu .menu__list .menu__list-items {
    border: 1px solid #FF8C00;
  }

  .menu .menu__list .menu__list-items .menu__list-links {
    color: #FF8C00;
  }
}
